@model IEnumerable<DTP.Models.Sites>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sites</h4>
    <hr />
    <div>
        <a asp-action="Create" class="btn btn-success">New Reference</a>
        <a asp-action="Index" class="btn bg-white">Return</a>
    </p>
    <table class="table table-striped table-hover bg-light">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Image)</th>
            <th>@Html.DisplayNameFor(model => model.Link)</th>
            <th>Configure</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Image)</td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.Link)" target="_blank">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>
