@model DTP.Models.DTPs

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>
<br />

<h2>DTP.@Html.DisplayFor(model => model.Number)</h2>
<hr />

<div>
    <h4>@Model.GetFullName()</h4>
    <dl class="row">
        <dt class="col-sm-2">
            Project page:
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.GetProjectPageLink()" target="_blank">DTP.@Html.DisplayFor(model => model.Number)</a>
        </dd>
        <dt class="col-sm-2">
            Analyst:
        </dt>
        <dd class="col-sm-10">
            @Model.Analyst
        </dd>
        <dt class="col-sm-2">
            Leader:
        </dt>
        <dd class="col-sm-10">
            @Model.Leader
        </dd>
        <dt class="col-sm-2">
            Demandant:
        </dt>
        <dd class="col-sm-10">
            @Model.Demandant
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn bg-white">Return</a>
</div>