@model DTP.Models.DTPs

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>
<br />

<h2>DTP.@Html.DisplayFor(model => model.Number)</h2>
<hr />

<div>
    <h4>@Model.GetFullName()</h4>
    <dl class="row">
        <dt class="col-sm-2">
            Project page:
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.GetProjectPageLink()" target="_blank">DTP.@Html.DisplayFor(model => model.Number)</a>
        </dd>
        <dt class="col-sm-2">
            Analyst:
        </dt>
        <dd class="col-sm-10">
            @Model.Analyst
        </dd>
        <dt class="col-sm-2">
            Leader:
        </dt>
        <dd class="col-sm-10">
            @Model.Leader
        </dd>
        <dt class="col-sm-2">
            Demandant:
        </dt>
        <dd class="col-sm-10">
            @Model.Demandant
        </dd>
    </dl>
</div>

<br />

<div class="d-flex justify-content-between">
    <h2>RDMs</h2>
    <a asp-action="Create" asp-controller="ParentRDM" asp-route-dtpId="@Model.Id" class="btn btn-success">New parent RDM</a>
</div>
<hr />
<br />

<div>
    @foreach (var ParentRDM in Model.ParentRDMs)
    {
        <div>
            <div class="d-flex justify-content-between">
                <h4>RDM @ParentRDM.Number - @ParentRDM.Summary</h4>
                <div>
                    <a asp-action="Edit" asp-controller="ParentRDM" asp-route-dtpId="@Model.Id" asp-route-parentId="@ParentRDM.Id" class="btn btn-success">Edit</a>
                    <a asp-action="Details" asp-controller="ParentRDM" asp-route-dtpId="@Model.Id" asp-route-parentId="@ParentRDM.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-controller="ParentRDM" asp-route-dtpId="@Model.Id" asp-route-parentId="@ParentRDM.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>

            <table class="table table-striped table-hover bg-light">
                <tr>
                    <th>@Html.DisplayNameFor(model => ParentRDM.Number)</th>
                    <th>@Html.DisplayNameFor(model => ParentRDM.Summary)</th>
                    <th>@Html.DisplayNameFor(model => ParentRDM.User)</th>
                    <th>@Html.DisplayNameFor(model => ParentRDM.Requester)</th>
                    <th>@Html.DisplayNameFor(model => ParentRDM.Type)</th>
                    <th>@Html.DisplayNameFor(model => ParentRDM.RequiredTo)</th>
                    <th>Configure</th>
                </tr>

                @foreach (var Child in ParentRDM.Children)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => Child.Number)</td>
                        <td>@Html.DisplayFor(modelItem => Child.Summary)</td>
                        <td>@Html.DisplayFor(modelItem => Child.User)</td>
                        <td>@Html.DisplayFor(modelItem => Child.Requester)</td>
                        <td>@Html.DisplayFor(modelItem => Child.Type)</td>
                        <td>@Html.DisplayFor(modelItem => Child.RequiredTo)</td>
                        <td>
                            <a asp-action="Edit" asp-controller="ChildRDM" asp-route-dtpId="@Model.Id" asp-route-childId="@Child.Id" asp-route-parentId="@ParentRDM.Id" class="btn btn-outline-success">Edit</a>
                            <a asp-action="Details" asp-controller="ChildRDM" asp-route-dtpId="@Model.Id" asp-route-childId="@Child.Id" class="btn btn-outline-primary">Details</a>
                            <a asp-action="Delete" asp-controller="ChildRDM" asp-route-dtpId="@Model.Id" asp-route-childId="@Child.Id" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }

                <tr>
                    <td><a asp-action="Create" asp-controller="ChildRDM" asp-route-dtpId="@Model.Id" asp-route-parentId="@ParentRDM.Id" class="btn btn-success">New RDM</a></td>
                </tr>
            </table>
        </div>
        <br />
    }
</div>

<div>
    <a asp-action="Index" class="btn bg-white">Return</a>
</div>